<div class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
      </mat-form-field>
    </div>
  
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="descricao">
        <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
        <mat-cell *matCellDef="let disciplina"> {{disciplina.descricao}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="instrutores">
        <mat-header-cell *matHeaderCellDef> Instrutores </mat-header-cell>
        <mat-cell *matCellDef="let disciplina"> {{disciplina.instrutores.length}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="dataInicio">
        <mat-header-cell *matHeaderCellDef> Data Início </mat-header-cell>
        <mat-cell *matCellDef="let disciplina"> {{disciplina.dataInicio | date: 'dd/MM/yyyy'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dataTermino">
          <mat-header-cell *matHeaderCellDef> Data Término </mat-header-cell>
          <mat-cell *matCellDef="let disciplina"> {{disciplina.dataTermino | date: 'dd/MM/yyyy'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="segmento">
        <mat-header-cell *matHeaderCellDef> Segmento </mat-header-cell>
        <mat-cell *matCellDef="let disciplina"> {{disciplina.segmento}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="urlLogo">
        <mat-header-cell *matHeaderCellDef> Logo </mat-header-cell>
        <mat-cell *matCellDef="let disciplina"> {{disciplina.urlLogo}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
          <mat-cell *matCellDef="let disciplina"> 
            <button mat-icon-button color="primary" matTooltip="Editar" (click)="edit(disciplina.id)">
              <mat-icon aria-label="Editar">edit</mat-icon>
            </button>
            <button mat-icon-button color="danger" matTooltip="Remover" (click)="delete(disciplina.id)">
              <mat-icon aria-label="Remover">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <button mat-fab color="primary" matTooltip="Adicionar usuário" routerLink="/main/disciplina/adicionar">
        <mat-icon aria-label="Adicionar usuário">add</mat-icon>
    </button>
  </div>