<form [formGroup]="disciplinaForm" fxLayout="column">

  <div>
    <mat-form-field fxFlex="49">
      <mat-select formControlName="segmento" placeholder="Segmento">
        <mat-option *ngFor="let segmento of segmentos" [value]="segmento.id">
          {{ segmento.descricao }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="disciplinaForm.controls['segmento'].hasError('required')">
          Segmento é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="49" fxFlexOffset="2">
      <input matInput formControlName="descricao" placeholder="Descrição">
      <mat-error *ngIf="disciplinaForm.controls['descricao'].hasError('required')">
        Descrição é obrigatória
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field fxFlex="49">
      <input matInput formControlName="dataInicio" [matDatepicker]="dataInicio" placeholder="Selecione a data">
      <mat-datepicker-toggle matSuffix [for]="dataInicio"></mat-datepicker-toggle>
      <mat-datepicker #dataInicio></mat-datepicker>
      <mat-error *ngIf="disciplinaForm.controls['dataInicio'].hasError('required')">
          Data Início é obrigatória
        </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="49" fxFlexOffset="2">
      <input matInput formControlName="dataTermino" [matDatepicker]="dataTermino" placeholder="Selecione a data">
      <mat-datepicker-toggle matSuffix [for]="dataTermino"></mat-datepicker-toggle>
      <mat-datepicker #dataTermino></mat-datepicker>
      <mat-error *ngIf="disciplinaForm.controls['dataTermino'].hasError('required')">
          Data Término é obrigatória
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field fxFlex="70">
      <input matInput formControlName="urlLogo" placeholder="URL Logo">
    </mat-form-field>
    <img class="logo" [src]="disciplinaForm.value.urlLogo" fxFlexOffset="2" (error)="notFound($event)"/>
  </div>

  <div>
    <mat-form-field fxFlex="70">
      <mat-select [(ngModel)]="professorSelecionado" [ngModelOptions]="{standalone: true}" placeholder="Professores">
          <ng-container *ngFor="let professor of professores">
              <mat-option *ngIf="!professor.selecionado"  [value]="professor">
                  {{ professor.nome }}
              </mat-option>
          </ng-container>
      </mat-select>
      <mat-hint>É necessário pelo menos 2 professores</mat-hint>
    </mat-form-field>
    <button type="button" mat-mini-fab color="primary" fxFlexOffset="2" (click)="adicionarProfessor()">
        <mat-icon>
          add
        </mat-icon>
    </button>
  </div>

  <mat-list>
      <h3 *ngIf="disciplinaForm.value.professores && disciplinaForm.value.professores.length > 0" mat-subheader>Professores selecionados</h3>
      <mat-list-item *ngFor="let professor of disciplinaForm.value.professores">
        <div matListIcon fxFlex="5">
          <button type="button" mat-mini-fab color="warn" (click)="removerProfessor(professor)">
              <mat-icon>
                  delete
              </mat-icon>
          </button>
        </div>
        <h4 mat-line fxFlexOffset="3">{{nomeProfessor(professor)}}</h4>
      </mat-list-item>
    </mat-list>

  <br/><br/>

  <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between">
    <button type="button" mat-raised-button color="primary" matTooltip="Cadastrar" [disabled]="disciplinaForm.invalid || disciplinaForm.value.professores.length < 2" (click)="save()">
      Salvar
    </button>

    <button type="button" mat-raised-button color="warn" matTooltip="Cancelar" routerLink="/main/disciplina/consulta">
      Cancelar
    </button>
  </div>

</form>
