<div fxLayout="row" fxFlex="100" fxLayoutAlign="center">
      <button mat-button class="gambi" routerLink="/main/usuario/consulta" fxFlex="10">
        <mat-card>
            <mat-icon>face</mat-icon>
            <a mdLine>Usuários</a>
        </mat-card>
      </button>
      <button mat-button class="gambi" routerLink="/main/home" fxFlex="10" fxFlexOffset="2">
        <mat-card>
            <mat-icon>book</mat-icon>
            <a mdLine>Disciplinas</a>
        </mat-card>
      </button>
      <button mat-button class="gambi" routerLink="/main/home" fxFlex="10" fxFlexOffset="2">
        <mat-card>
            <mat-icon>info_outline</mat-icon>
            <a mdLine>Relatórios</a>
        </mat-card>
      </button>
</div>