<div fxLayout="row" fxFlex="100" fxLayoutAlign="center">
      <button mat-button class="gambi" routerLink="/main/usuario/consulta" fxFlex="10">
        <mat-card>
            <mat-card-header>
              <mat-icon>face</mat-icon>
            </mat-card-header>
            <mat-card-content>
              <span>Usuários</span>
            </mat-card-content>
        </mat-card>
      </button>
      <button mat-button class="gambi" routerLink="/main/disciplina/consulta" fxFlex="10" fxFlexOffset="2">
        <mat-card>
            <mat-card-header>
              <mat-icon>book</mat-icon>
            </mat-card-header>
            <mat-card-content>
              <span>Disciplinas</span>
            </mat-card-content>
        </mat-card>
      </button>
      <button mat-button class="gambi" routerLink="/main/home" fxFlex="10" fxFlexOffset="2">
        <mat-card>
            <mat-card-header>
              <mat-icon>info_outline</mat-icon>
            </mat-card-header>
            <mat-card-content>
              <span>Relatórios</span>
            </mat-card-content>
        </mat-card>
      </button>
</div>
