<div class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
      </mat-form-field>
    </div>
  
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.nome}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="login">
        <mat-header-cell *matHeaderCellDef> Login </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.login}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> E-mail </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="perfil">
          <mat-header-cell *matHeaderCellDef> Perfil </mat-header-cell>
          <mat-cell *matCellDef="let usuario"> {{usuario.perfil}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
          <mat-cell *matCellDef="let usuario"> 
            <button mat-icon-button color="primary" matTooltip="Editar">
              <mat-icon aria-label="Editar">edit</mat-icon>
            </button>
            <button mat-icon-button color="danger" matTooltip="Remover">
              <mat-icon aria-label="Remover">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <button mat-fab color="primary" matTooltip="Adicionar usuário">
        <mat-icon aria-label="Adicionar usuário">add</mat-icon>
    </button>
  </div>