<form fxLayout="column">

  <mat-form-field fxFlex="100">
    <input matInput placeholder="Nome">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="E-mail">
  </mat-form-field>

  <div>
    <mat-form-field fxFlex="49">
      <input matInput placeholder="Login">
    </mat-form-field>
  
    <mat-form-field fxFlex="49" fxFlexOffset="2">
      <mat-select placeholder="Perfil">
        <mat-option *ngFor="let perfil of perfis" [value]="perfil.id">{{perfil.descricao}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field fxFlex="49">
      <input type="password" matInput placeholder="Senha">
    </mat-form-field>

    <mat-form-field fxFlex="49" fxFlexOffset="2">
      <input type="password" matInput placeholder="Confirmação">
    </mat-form-field>
  </div>

  <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between">
    <button type="button" mat-raised-button color="primary" matTooltip="Cadastrar">
      Cadastrar
    </button>

    <button type="button" mat-raised-button color="warn" matTooltip="Cancelar">
      Cancelar
    </button>
  </div>

</form>
